.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: rgb(75, 74, 74);
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}

.App {
    padding: 30px;
    height: 300px;
    background: #fff;
}

.todo_list {
    background-color: ghostwhite;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px black;
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}